In [1]:
import pandas as pd

In [2]:
daf = pd.read_csv('C:/Users/Anil/Desktop/ML data/PERIODIC_DATA/06Sec/163 device data 01-july-2018-06sec.csv')
daf.head()

,OBU_ID,B.PACKET_TYPE,EVENT_UTC,LOCAL_TIME_STAMP,LATITUDE,LONGITUDE,GPS_SPEED,ENGINE_SPEED,WHEEL_SPEED,THROTTLE_POS,EFF_TORQUE,RESERVE1,RESERVE2,KAFKA_TIME_STAMP,RECEIVED_TIMESTAMP,VERSION
0,1275,P6,2018-07-01 00:06:26.0,NaN,NaN,NaN,44.959999,1106.0,39.430000,0.0,-9.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
1,1275,P6,2018-07-01 00:06:32.0,NaN,NaN,NaN,37.730000,1024.0,35.750000,28.0,25.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
2,1275,P6,2018-07-01 00:06:38.0,NaN,NaN,NaN,38.990002,1090.0,38.410000,24.0,14.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
3,1275,P6,2018-07-01 00:06:44.0,NaN,NaN,NaN,33.369999,964.0,33.730000,16.0,11.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
4,1275,P6,2018-07-01 00:06:51.0,NaN,NaN,NaN,32.360001,933.0,33.049999,44.0,45.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5

In [3]:
filter_1 = (daf['OBU_ID']==1269) |(daf['OBU_ID']==1270)|(daf['OBU_ID']==1274)|(daf['OBU_ID']==1275)|(daf['OBU_ID']==1276)|(daf['OBU_ID']==1277)|(daf['OBU_ID']==1316)|(daf['OBU_ID']==1317)|(daf['OBU_ID']==1318)|(daf['OBU_ID']==1319)|(daf['OBU_ID']==1320) \
|(daf['OBU_ID']==1321)|(daf['OBU_ID']==1322)|(daf['OBU_ID']==1323)|(daf['OBU_ID']==1337)|(daf['OBU_ID']==1339)|(daf['OBU_ID']==1341)|(daf['OBU_ID']==1348)|(daf['OBU_ID']==1350)|(daf['OBU_ID']==1359) \
|(daf['OBU_ID']==1368)|(daf['OBU_ID']==1369)|(daf['OBU_ID']==1370)|(daf['OBU_ID']==1375)|(daf['OBU_ID']==1385)|(daf['OBU_ID']==1389)|(daf['OBU_ID']==1393)

daf = daf[filter_1]
daf.shape

(77668, 16)

In [4]:
filt= (daf['ENGINE_SPEED']!=0) & (daf['GPS_SPEED'] !=0)
daf = daf[filt]
filt_1 = (daf['ENGINE_SPEED']>700)
daf = daf[filt_1]

In [5]:
daf.head()

,OBU_ID,B.PACKET_TYPE,EVENT_UTC,LOCAL_TIME_STAMP,LATITUDE,LONGITUDE,GPS_SPEED,ENGINE_SPEED,WHEEL_SPEED,THROTTLE_POS,EFF_TORQUE,RESERVE1,RESERVE2,KAFKA_TIME_STAMP,RECEIVED_TIMESTAMP,VERSION
0,1275,P6,2018-07-01 00:06:26.0,NaN,NaN,NaN,44.959999,1106.0,39.430000,0.0,-9.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
1,1275,P6,2018-07-01 00:06:32.0,NaN,NaN,NaN,37.730000,1024.0,35.750000,28.0,25.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
2,1275,P6,2018-07-01 00:06:38.0,NaN,NaN,NaN,38.990002,1090.0,38.410000,24.0,14.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
3,1275,P6,2018-07-01 00:06:44.0,NaN,NaN,NaN,33.369999,964.0,33.730000,16.0,11.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5
4,1275,P6,2018-07-01 00:06:51.0,NaN,NaN,NaN,32.360001,933.0,33.049999,44.0,45.0,NaN,NaN,2018-07-01 00:07:39.0,2018-07-01 00:09:24.146,1.5

In [6]:
daf.drop(daf[['B.PACKET_TYPE','WHEEL_SPEED','EFF_TORQUE','THROTTLE_POS','OBU_ID','EVENT_UTC','LOCAL_TIME_STAMP','LATITUDE','LONGITUDE','RESERVE1','RESERVE2','KAFKA_TIME_STAMP','RECEIVED_TIMESTAMP','VERSION']],axis=1,inplace=True)
daf.head()

   GPS_SPEED  ENGINE_SPEED
0  44.959999        1106.0
1  37.730000        1024.0
2  38.990002        1090.0
3  33.369999         964.0
4  32.360001         933.0

In [7]:
daf = daf.dropna(subset=['GPS_SPEED','ENGINE_SPEED'])
daf.shape

(60681, 2)

In [8]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=10, init='k-means++')
y_kmeans = kmeans.fit_predict(daf)
print(y_kmeans)
c = kmeans.cluster_centers_
c

[3 3 3 ... 5 6 6]

array([[  26.4286291 ,  957.78820836],
       [  43.89534969, 1324.35075885],
       [  49.51693691, 1475.98738739],
       [  31.85065199, 1069.2883283 ],
       [  33.78065586, 1844.94754098],
       [  40.30486869, 1246.55088471],
       [  19.38165169,  808.14071856],
       [  48.75575075, 1581.73503224],
       [  46.96319317, 1399.54755292],
       [  36.49185303, 1162.17299469]])

In [9]:
import matplotlib.pyplot as plt
plt.figure(figsize=(20,10))
plt.scatter(daf['GPS_SPEED'], daf['ENGINE_SPEED'], c=y_kmeans, s=50, cmap='Set1')
plt.scatter(kmeans.cluster_centers_[:, 0],kmeans.cluster_centers_[:, 1],c='black', s=200)

In [10]:
print("Clusters found in {0} iterations".format(kmeans.n_iter_))

Clusters found in 15 iterations

In [11]:
from sklearn import metrics
metrics.silhouette_score(daf, kmeans.labels_, metric='euclidean')

MemoryError: